{{! this file defines pages to be included in the menu of template, these could be about, contacts, etc.  }}

<li><a href="/" class="dn-ajx-link">Home</a></li>
<li><a href="/championEUPost" class="dn-ajx-link">ChampionEU</a></li>
<li><a href="/collectorTW" class="dn-ajx-link">TaiwanCollector</a></li>
<li><a href="/about-me" class="dn-ajx-link">AboutMe</a></li>
